<div class="scroll-container" (scroll)="onScroll($event)">

    <div class="main-content-container" fxLayout.xs="column">
        <mat-card cols="2" rowHeight="2:1" *ngFor="let post of userPosts" class="card-content"
            (click)="openDialog(post.id)" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            <img mat-card-image [src]="post.thumbnailUrl" class="image">

            <mat-card-content class="card-description">
                <p>
                    {{post.title}}
                </p>
            </mat-card-content>

        </mat-card>


        <div class="spinner">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>


        <div *ngIf="userPosts.length === 0">
            No content
        </div>
    </div>


</div>