<mat-drawer-container class="app-container">
    <mat-drawer #sideNav [mode]="isScreenSmall? 'over' : 'side'" [opened]="!isScreenSmall" 
    class="sidenav-container" (keydown)="handleKeydown($event)">
        <div>
            <div class="inner-elements-sidenav-container">
                <img src="../../../../assets/logo.png" alt="appLogo" class="app-logo" (click)="onHomeClick()">

            </div>

            <div class="inner-elements-sidenav-container">
                <button class="button-element" mat-flat-button style="width: 100%;" (click)="onHomeClick()">
                    <mat-icon>home</mat-icon>
                    Home
                </button>
            </div>

            <div class="inner-elements-sidenav-container">
                <button class="button-element" mat-flat-button style="width: 100%;" (click)="createNewPhoto()">
                    <mat-icon>add</mat-icon>
                    Create
                </button>
            </div>

            <div class="inner-elements-sidenav-container">
                <mat-form-field class="seach-field">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="searchControl">
                </mat-form-field>
            </div>
        </div>
    </mat-drawer>


    <mat-drawer-content class="content-container">
        <div class="app-toolbar">
            <app-toolbar (toggleSidenav)="sideNav.toggle()"></app-toolbar>
        </div>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>