<mat-drawer-container class="app-sidenav-container">

    <mat-drawer 
        #sideNav [mode]="isScreenSmall? 'over' : 'side'" [opened]="!isScreenSmall" 
        class="example-form" >

        <div class="container">
            <div class="input-container">
                <img src="../../../../assets/logo.png" alt="appLogo" class="app-logo" (click)="onHomeClick()">

            </div>
            <!-- <input matInput [formControl]="searchControl" placeholder="Search"> -->
            <div class="input-container">
                <button class="ch" mat-flat-button style="width: 100%;" (click)="onHomeClick()">
                    <mat-icon>home</mat-icon>
                    Home
                </button>
            </div>
            <div class="input-container">
                <button class="ch" mat-flat-button style="width: 100%;" (click)="createNewPost()">
                    <mat-icon>add</mat-icon>
                    Create
                </button>
            </div>
            <div class="input-container">
                <mat-form-field class="seach-field">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="searchControl" >
                </mat-form-field>
            </div>
        </div>

    </mat-drawer>


    <mat-drawer-content class="app-sidenav-content-container">
        <div class="app-toolbar">
            <app-toolbar (toggleSidenav)="sideNav.toggle()"></app-toolbar>
        </div>


        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>