/* .app-sidenav-container {
    flex: 1;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }
  
  .app-sidenav {
    width: 240px;
    height: 100%;
  }

  .app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

   */


   .app-sidenav-container {
    height: 100vh; /* Set the container height to fill the viewport */
    display: flex; /* Use flexbox for layout */

  }
  
  .app-sidenav {
    width: 200px; /* Set the width of the side navigation */
    background-color: #f0f0f0; /* Customize the background color */
  }
  
  .app-sidenav-content-container {
    flex: 1; /* Allow the content to expand and fill the remaining space */
    overflow: auto; /* Enable scrolling if content exceeds the available space */
  }
  
  .app-toolbar {
    height: 60px; /* Set the height of the toolbar */
    background-color: #f0f0f0; /* Customize the background color */
    padding: 10px; /* Add padding to the toolbar */
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 1;
  }
  
  .app-content {
    margin-top: 7%; /* Add some margin to separate the content from the toolbar */
  }
  
/* 
  new
  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
  } */