.dialog-upper-part {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0px;
}

.close-button {
  position: end;
}

.details-part {
  display: flex;
  justify-content: space-between;
}

.more-options:hover {
  background: rgba(186, 186, 186, 0.6);
  backdrop-filter: blur(80px);

  cursor: pointer;
}

.photo-details-dialog {
  border: none;
  box-shadow: none;
  padding: 0;
}

.user-logo {
  background-image: url('\src\assets\avatar.png');
  background-size: cover;
}

.card-image {
  margin-top: 15px;
  max-height: 600px;
}

.details-container {
  display: flex;
  justify-content: space-between;
}