<mat-toolbar class="toolbar-small-screen">

    <button mat-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="input-container">
        <mat-form-field class="seach-field" floatLabel="never">
            <input matInput [formControl]="searchControl" placeholder="Search">
        </mat-form-field>
    </div>

    <div class="input-container">
        <img src="../../../../assets/logo.png" alt="appLogo" class="app-logo" (click)="onHomeClick()">
    </div>
    
</mat-toolbar>