<mat-spinner *ngIf="isLoadingImage"></mat-spinner>


<!-- <div class="dialog-main-container" *ngIf="!isLoadingImage">
    
    <div class="dialog-upper-part">
        <h2 mat-dialog-title>User XYZ</h2>
        <div mat-dialog-actions class="close-button">
            <button mat-button mat-dialog-close>X</button>
        </div>
    </div>


    <div mat-dialog-content>
        <img mat-card-image src={{userPost.url}} alt="User photo" class="photo">

        <div class="details-part">
            <p class="title">{{userPost.title}}</p>

            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon class="more-options">more_vert</mat-icon>                
            </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit</button>
                <button mat-button color="warn">Delete post</button>
            </mat-menu>
        </div>
    </div>
    

</div> -->

<div class="dialog-main-container" *ngIf="!isLoadingImage">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{userAlbum.user.username}}</mat-card-title>
      <mat-card-subtitle>{{userAlbum.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>

    <img class="card-image" mat-card-image src={{userPost.url}} alt="">
    <mat-card-content class="details-container">
      <p class="photo-title">
        {{userPost.title}}
      </p>
      <div class="options-button">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="more-options">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openAddDialog()">Edit</button>

          <button mat-button color="warn" (click)="openDeleteConfirmationDialog()">Delete</button>
        </mat-menu>
      </div>
      
    </mat-card-content>
  </mat-card>

</div>