.uploadedImage {
  max-width: 40%;
}

.upload-photodetails-container {
  margin-left: 10px;
  width: 50%;
  padding: 20px;

  @media (max-width: 700px) {
    width: 80%;
  }
}

.upload-data-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  @media (max-width: 700px) {
    display: block;

    height: 100%;
    width: 100%;
  }

}

.upload-from-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 70vh;
  height: 70vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 700px) {
    width: 100%;
    height: 32vh;

  }
}

.drop-area p {
  margin: 0;
  padding: 0;
}

.drop-area img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-action-buttons-conatiner {
  margin-top: 20px;
}

.upload-action-buttons-conatiner button {
  margin: 10px;
}

.clear-button {
  background-color: white;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button:hover {
  background: rgb(189, 189, 189);
}

.clear-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image {
  display: block;
}

.upload-image-label {
  display: inline-block;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
}

.title-field {
  width: 100%;
}

.album-field {
  width: 100%;
}